[flake8]

; ignore = F401
exclude =
    .git,
    __pycache__,
    .venv,
    migrations,
filename = *.py
accept-encoding = utf-8
inline-quotes = double
max-complexity = 12
max-line-length = 119
; per-file-ignores =
